
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->



<div class="size" style="background-color: rgb(235, 235, 241);">
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container">
            <div class="container">


              <div class="row_products_row">
                <br> <br>
                <ul class="nav nav-tabs md-tabs nav-justified primary-color">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel555" role="tab"
                      style="background-color: #bae0f693 ;">
                      <i></i>Veuillez décrire les actions faites</a>
                  </li>
                  <br> <br>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel666" role="tab"
                      style="background-color: #bae0f693 ;">
                      <i></i>Veuillez décrire les actions à faire</a>
                  </li>
                </ul>


                <div class="tab-content">
                  <div class="tab-pane fade in show active" id="panel555" role="tabpanel">
                    <form class="needs-validation" (ngSubmit)=" Actualizer(ticket)" novalidate>
                      <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <label for="validationCustom01">Actions faites</label>
                          <div class="md-form mb-4 pink-textarea active-pink-textarea">
                            <textarea id="form18" class="md-textarea form-control" rows="3" id="description "
                              placeholder=" saisir les actions faites" [(ngModel)]="ticket.actionFaite" name="actionFaite"
                              required></textarea>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary" type="submit">Enregistrer</button>
                      <br> <br> <br>
                    </form>

                    <script>
                      // Example starter JavaScript for disabling form submissions if there are invalid fields
                      (function () {
                        'use strict';
                        window.addEventListener('load', function () {
                          // Fetch all the forms we want to apply custom Bootstrap validation styles to
                          var forms = document.getElementsByClassName('needs-validation');
                          // Loop over them and prevent submission
                          var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                              if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                              }
                              form.classList.add('was-validated');
                            }, false);
                          });
                        }, false);
                      })();
                    </script>

                  </div>
                  <div class="tab-pane fade" id="panel666" role="tabpanel">
                    <div class="container">
                      <div class="container">
                        <form class="needs-validation" (ngSubmit)=" Actualizer(ticket)" novalidate>
                          <div class="form-row">
                            <div class="col-md-4 mb-3">
                              <label for="validationCustom01">Actions à Faire</label>
                              <div class="md-form mb-4 pink-textarea active-pink-textarea">
                                <textarea id="form18" class="md-textarea form-control" rows="3" id="description "
                                  placeholder="Saisie les actions à faire" [(ngModel)]="ticket.actionafaire" name="actionafaire"
                                  required></textarea>
                              </div>

                            </div>
                          </div>
                          <button class="btn btn-primary" type="submit">Enregistrer</button>
                          <br> <br> <br>
                        </form>

                        <script>
                          // Example starter JavaScript for disabling form submissions if there are invalid fields
                          (function () {
                            'use strict';
                            window.addEventListener('load', function () {
                              // Fetch all the forms we want to apply custom Bootstrap validation styles to
                              var forms = document.getElementsByClassName('needs-validation');
                              // Loop over them and prevent submission
                              var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener('submit', function (event) {
                                  if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                  }
                                  form.classList.add('was-validated');
                                }, false);
                              });
                            }, false);
                          })();
                        </script>
                      </div>
                    </div>
                  </div>


                </div>


                <br> <br>













              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

