<div class="wrap-login100">
  <form class="login100-form validate-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm" novalidate>
    <span class="login100-form-title p-b-43" style="font-size: 22px;">
      Login </span>
    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

      <input class="input100" type="text" name="username" placeholder="Username" [(ngModel)]="form.username" required
        minlength="3" maxlength="20" #username="ngModel" />
      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
        Username is required!
      </div>
      <span class="focus-input100"></span>
      <span class="label-input100"> </span>
    </div>



    <br> <br>
    <div class="wrap-input100 validate-input" data-validate="Password is required">
      <input class="input100" id="myInput" type="password" name="password" [(ngModel)]="form.password" required
        minlength="6" #password="ngModel" placeholder="Password" />
      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
      <span class="focus-input100"></span>

    </div>

    <div class="flex-sb-m w-full p-t-3 p-b-32">
      <div class="contact100-form-checkbox">
        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" onclick="myFunction()">
        <label class="label-checkbox100" for="ckb1">
          Afficher mot de passe
        </label>
      </div>

      <div>
        <a href="#" class="txt1" data-toggle="modal"
        data-target="#elegantModalForm3">
         mot de passe oublié
        </a>
      </div>
    </div>


    <div class="container-login100-form-btn">
      <button class="login100-form-btn">
        signin
      </button>
    </div>
  </form>

  <div class="login100-more" style="background-image: url('/assets/img/bg3.PNG');">
  </div>
</div>

<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }</script>
  
<div class="modal fade" id="elegantModalForm3" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content form-elegant">
    <!--Header-->
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
        <p style="color: darkblue;font-weight: bold;font-size: 20px;">Mot de passe oublier </p>
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Body-->
    <div class="modal-body mx-4">
      <!--Body-->
      <div class="md-form mb-5">
        <form action="" (ngSubmit)="motdepasseoublier(this.email)">
          <div class="form-group">
            <label style="font-family: Georgia;font-size:15px ;">Email</label>
            <input type="text" class="form-control" 
              name="email"  [(ngModel)]="this.email">
          </div>
       
          <button class="btn btn-info">Enregister</button>
        </form>
     
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer mx-5 pt-3 mb-1">
      <p class="font-small grey-text d-flex justify-content-end"> <a href="#"
          class="blue-text ml-1">
        </a></p>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>