<div class="container"> 
    <div class="container"> 
<form action="" (ngSubmit)="resetpassword(this.username)">
    <div class="form-group">
      <label style="font-family: Georgia;font-size:15px ;">username</label>
      <input type="text" class="form-control" 
        name="email"  [(ngModel)]="this.username">
    </div>
    <div class="form-group">
        <label style="font-family: Georgia;font-size:15px ;">Nouveau password</label>
        <input type="text" class="form-control" 
          name="email"  [(ngModel)]="this.user.password">
      </div>
    <button class="btn btn-info">Enregister</button>
  </form>
</div>
</div>