<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Modifier Ticket</h3>
      </div>
      <div class="card-body">
        <form action=""     (ngSubmit)="  Actualiser(ticket)">
        
          <div class="form-group">
            <label for="">Titre:</label>
            <input [(ngModel)]="ticket.titre" name="titre" type="text" class="form-control">
          </div>
        
          <div class="form-group">
            <label for="">Description:</label>
            <input [(ngModel)]="ticket.description" name="description" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="">Label:</label>
            <input [(ngModel)]="ticket.label.name" name="label" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">statut:</label>
            <input [(ngModel)]="ticket.statut" name="statut" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Assigner:</label>
            <input [(ngModel)]="ticket.assigner" name="assigner" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Action à Faire:</label>
            <input [(ngModel)]="ticket.actionafaire" name="actionafaire" type="text" class="form-control">
          </div>
          <div class="text-center mt-7">
          <button  class="btn btn-success">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
