.navbar-blue {
    border-color: #4d80b9;
    background: rgb(99, 154, 195);
    background: -moz-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(99, 154, 195, 1)), color-stop(100%, rgba(0, 58, 102, 1)));
    background: -webkit-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -o-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -ms-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: linear-gradient(to bottom, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#639ac3', endColorstr='#003a66', GradientType=0);
  }
  .navbar-blue .navbar-brand {
    color: #f1f1f1;
    top:0
  }
  .navbar-blue .navbar-nav > li > a {
    margin-top: 10px;
    color: #fff;
  }
  .navbar-blue .navbar-nav>li>a:hover, .navbar-blue .navbar-nav>li>a:focus {
    background-color: rgb(28, 95, 241);
  }
  .navbar-blue .navbar-nav > .active > a,
  .navbar-blue .navbar-nav > .active > a:hover, 
  .navbar-blue .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #6e97c4;
  }
  .navbar-brand {
    font-size: 24px;
  }

  
  .footer_content
  {
      background: linear-gradient(to bottom, rgba(99, 154, 195, 1) 0%, rgb(97, 178, 240) 70%);

    /* background   :  #F5F5DC*/
  /*  background   :burlywood*/
  }
  .navbar {
    background   :linear-gradient(to bottom, rgb(46, 153, 235) 0%, rgb(59, 107, 240) 70%);

  }
  .about_talan{
    color: #585858;
    font-family: Comic Sans MS;
  }

  
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%;   background: linear-gradient(to bottom, rgb(7, 107, 184) 0%, rgb(6, 4, 121) 70%);; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}