


<div id="app">
  <nav class="navbar navbar-expand navbar-blue bg-blue">
    <a href="#" class="navbar-brand" style="top:0;font-family: Georgia;font-size: 22px;"></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link js-scroll-trigger" routerLink="home" style="font-weight: bold;">Gestion des tickets </a>
      </li>
      <li class="nav-item">
        <a href="/home" class="nav-link js-scroll-trigger" routerLink="home">Accueil </a>
      </li>
      <li class="nav-item">
        <a href="/dashboard" class="nav-link js-scroll-trigger" routerLink="dashboard">Dashboard </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin"> Espace Admin </a>
      </li>

      <li class="nav-item" *ngIf="showSupportBoard">
        <a href="/supp" class="nav-link" routerLink="supp"> Espace Support </a>
      </li>
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user"> Espace Utilisateur</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>

      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a  class="nav-link" routerLink="profile">{{ username }}:{{email}}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <!-- Navigation -->

  <div id="app">
    <router-outlet></router-outlet>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!--footer starts from here-->
    <footer class="footer">
      <div class="container bottom_border">
        <div class="row">
          <div class=" col-sm-4 col-md col-sm-4  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2">A propos de Talan</h5>
            <!--headin5_amrc-->
            <p class="mb10">Talan Consulting regroupe le conseil opérationnel et l'expertise métier du groupe
              Talan.c'est une
              Cabinet de conseil multisectoriel en management, elle Consulting accompagne ses clients dans leurs
              transformations opérationnelles, digitales et systèmes.</p>
            <p><i class="fa fa-location-arrow"></i> 10 Rue de l'énergie solaire Impasse N°1 Charguia 1، Tunis 2035 </p>




          </div>


          <div class=" col-sm-4 col-md  col-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Talan</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc">
              <li><a
                  href="https://talan.com/actualites/detail-actualites/news/evenement-petit-dejeuner-engagement-et-transformation-le-11-octobre/">Talan
                  ambiance</a></li>

              <li><a
                  href="https://talan.com/actualites/notes-de-conjoncture-articles-consulting/note-de-conjoncture-lintelligence-artificielle-au-service-de-la-planete/">Talan
                  service</a></li>
              <li><a href="https://talan.com/a-propos/management/">Talan clients</a></li>
            </ul>
            <!--footer_ul_amrc ends here-->
          </div>
          <div class=" col-sm-4 col-md  col-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Talan équipes</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc">
              <li><a
                  href="https://talan.com/actualites/detail-actualites/news/evenement-petit-dejeuner-engagement-et-transformation-le-11-octobre/">Equipe
                  Innovation Factory</a></li>
              <li><a href="https://talan.com/a-propos/management/"> Equipe Byblos</a></li>
              <li><a
                  href="https://talan.com/actualites/notes-de-conjoncture-articles-consulting/note-de-conjoncture-lintelligence-artificielle-au-service-de-la-planete/">Equipe
                  Saleforces</a></li>

            </ul>
            <!--footer_ul_amrc ends here-->
          </div>





          <div class=" col-sm-4 col-md  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Contacter nous</h5>
            <!--headin5_amrc ends here-->
            <p><i class="fa fa-phone"></i> 70 015 010 </p>

            <ul class="footer_ul2_amrc">
              <li><a href="#"><i class="fab fa-google fleft padding-right"></i> </a><a
                  href="https://talan.com/">https://talan.com/</a></li>
            </ul>
            <!--footer_ul2_amrc ends here-->
          </div>
        </div>
      </div>


      <div class="container">
        <ul class="foote_bottom_ul_amrc">
          <li><a href="http://webenlance.com">About</a></li>
          <li><a href="http://webenlance.com">Services</a></li>
          <li><a href="http://webenlance.com">Blog</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2020| Designed by Talan</p>

        <ul class="social_footer_ul">
          <li><a href="https://www.facebook.com/talan/"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/talan_fr"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/talan-consulting/about/"><i class="fab fa-linkedin"></i></a>
          </li>
          <li><a href="https://www.instagram.com/talan.group/"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
      </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
  </div>
</div>