
<nav class="navbar navbar-light" style="background-color: #fae7da;">
  <a class="navbar-brand" href="#" style="margin-left:700px ;"> <div class="center"> Statistiques des Tickets</div></a>
</nav>
<div class="container" style="margin-left: 5
00px;">
  <div class="center">
<canvas id="myChart" width="800" height="600"></canvas>

</div>
</div>
  
<div class="container" >
        <app-stat-label></app-stat-label>
    
      </div>
 
