


	<link rel="stylesheet" type="text/css" href="https://www.elegantthemes.com/style.css?ver=5.9" />



<div id="ap">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/work-5.jpg" alt="First slide" width=80000px>
       
        <div class="carousel-caption " >
          <div class="text-center">

         <div style="color:green;font-size: 18px;"> <h1 style="color:rgb(52, 22, 151) ;font-size: 40px;margin-left: 100px;" >Plateforme de gestion des tickets du support </h1> <br> Suivez, définissez vos  tickets facilement<br> Nous automatisons  les processus de résolution pour une efficacité optimale.</div>
          <p> </p>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/bg4.PNG" alt="Second slide" width="1000%" />
        <div class="carousel-caption " >
          <h1 style="color:rgb(139, 139, 219);margin-left: 100px;" >Cliquer sur un bouton et ton problème sera résolu</h1>
          <p> </p>
        </div>
      </div>
     
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>
  <br> <br>





  <br> <br> <br>

  <section id="divi-theme-builder">
    <div class="row-container">
    <div class="row">
    <div class="column-container">
    <div class="column centered accent-blue">
    <h2 class="headline-2"  style="font-size: 50px;">Gestion des  Tickets</h2>
    <h2 style="color:rgb(117, 188, 206);font-size: 20px;">Avez vous déjà entendu parler de la gestion de tickets?
    </h2>
    <p class="lead">  Si vous avez à gérer des incidents et à suivre des actions la réponse est sûrement oui.
      Dans tous les cas, Notre plateform peut vous faciliter la vie !</p>
    <div class="inline-elements centered tiny-gutters">
 
    </div>
    <img  src="/assets/img/bgi.PNG"  >
    </div>
    </div>
    </div>
    </div>
    <div class="row-container product-feature-river accent-blue">
    <div class="row product-feature center-align-columns">
    <div class="column-container">
    <div class="column">
    <h3  style="color:rgb(117, 188, 206);font-size: 25px;">Un support efficace depuis une plateforme </h3>

    <p>    
      Résolvez les tickets ouverts .
      
      diminuez le temps de résolution et fournissez un service exceptionnel </p>
  
    </div>
    </div>
    <div class="column-container column-7">
    <div class="column">
    <img  width="350" height="220" src="/assets/img/submiticket.png"  >
    </div>
    </div>
    </div>
    <div class="row product-feature center-align-columns">
    <div class="column-container">
    <div class="column">
    <h3 style="color:rgb(117, 188, 206);font-size: 25px;">Assignez et classez les tickets grâce à l'automatisation intelligente</h3>
    <p>Assignez automatiquement et escaladez les tickets vers les bons agents  </p>
    <div class="inline-elements small-gutters">
   
    </div>
    </div>
    </div>
    <div class="column-container">
    <div class="column">
      <img  width="520" height="362" src="/assets/img/supporttick.png"  >
    </div>
    </div>
    </div>
    </div>
    <div class="row-container product-feature-river accent-blue">
    <div class="row product-feature center-align-columns">
    <div class="column-container">
    <div class="column">
    <h3 style="color:rgb(117, 188, 206);font-size: 25px;">Un ticket peut être résolu plusieurs fois</h3>
    <p>Si vous êtes insatisfait pour la solution proposé par l'agent support,votre ticket sera conserver et peut être résolu par un autre agent.</p>
    <div class="inline-elements small-gutters">
    </div>
    </div>
    </div>
    <div class="column-container column-7">
    <div class="column perspective-right">
      <img  width="520" height="362" src="/assets/img/anotherchance.jpg"  >
    </div>
    </div>
    </div>
    </div>
    </section>
